@model IEnumerable<WebApp.Models.User>

@{
    ViewBag.Title = "User List";
}

<h2>Users</h2>

<p class="well">
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table table-striped table-hover" id="tbl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@(@item.FirstName.StartsWith("R") ? "success" : "")" onclick="rowClick(this);">
        <td class="firstName">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td class="lastName">
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="email">
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}
</table>

<div class="form-group row">
    <div class="col-sm-2" >
        <button id="btnHide" class="btn btn-primary btn-md">Hide</button>
        <button id="btnShow" class="btn btn-primary btn-md">Show</button>
    </div>
    <div class="col-sm-2" id="divResult">

    </div>
</div>

<div class="alert alert-info" style=" @(Model.Count() < 2 ? "display:none" : "") ">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> You have more than two users, how exciting. 
</div>

@section scripts {
    <script>
        function rowClick(x){
            var value = $(x).find('.firstName').text().trim();
            $('#divResult').text(value);
        }

        $(document).ready(function () {
            $('#btnHide').click(function () {
                $('#tbl').fadeOut("slow");
            });
            $('#btnShow').click(function () {
                $('#tbl').fadeIn("slow");
            });
        });
            
        
    </script>
}